# Ignore all node_modules folders anywhere
**/node_modules/

# Ignore all dist/ folders
**/dist/

# Ignore lockfiles if you're not committing them
**/package-lock.json
**/yarn.lock

# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# TypeScript
**/*.tsbuildinfo

# Environment variables
**/.env
**/.env.*
!**/.env.example

# Build output
**/build/
**/out/

# Coverage
**/coverage/

# Public
**/public/

# Cache
**/.cache/
**/.temp/
